*{
	margin:0px;
	padding:0px;
	font-family:;
}
body{
	background:#f2f2f2;
	color:#000000;
}
body{
	background:url(Imagenes/maderablanca1.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
}
/*SLIDE*/
.main{
	width:90%;
	max-width:1000px;
	margin:20px auto;
}
.slides{
	width: 100%;
	border: 10px groove #353535
}
.slides img{
	width: 100%;
}
.slidesjs-pagination{
	background:#424242;
	list-style:none;
	overflow:hidden;
}
.slidesjs-pagination li{
	float:left;
}
.slidesjs-pagination li a{
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
.slidesjs-pagination li a:hover{
	background:#000;
}
.slides .active{
	background:#000;
}
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:11px 20px;
	float:right;
}
/*SLIDE*/
header h1,h2{
	padding:50px;
	color:#000;
}
header h1{
	font-size:91px;
}
header h2{
	font-size:89px;
}
header div.titulo{
	margin:0px 26%;
	width:910px;
	background:url(Imagenes/pae.jpg);
	padding:1px 240px;
	border: 10px groove #353535;
	position:relative;
	top:-420px; bottom:; right:10px; left:;
}
header img.principal{
	width:600px;
	height:auto;
	padding:0px;
	position:static;
	left:-75px;
	border:10px groove #353535; 
	top:29px; 

}
	/*MENU*/
header nav{
	position:relative;
	top:-360px;
	right:-380px;
	width:1200px;
	height:230px;
	background-color:red;
}
header div.contenedor{
	width:200px;
	height:230px;
	float:left;
	-webkit-transition:height .4s;
}
div#uno{
	background-color:rgb(178, 186, 187);
}
div#dos{
	background-color:rgb(100, 30, 22);
}
div#tres{
	background-color:rgb(23, 32, 42);
}
div#cuatro{
	background-color:rgb(143,128,0);
}
div#cinco{
	background-color:rgb(5,62,23);
}
div#seis{
	background-color:rgb(0,0,0);
}
ul div img.icon{
	display:block;
	margin:50px auto;
	background-color:rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius:50%;
	-webkit-box-shadow:0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}
p.texto{
	font-size:1.2em;
	color:white;
	text-align:center;
	padding-top:10px;
	opacity:.9;
	-webkit-transition:padding-top.4s;
	font-family:verdana;
}
div.contenedor:hover{
	height:250px;
}
div.contenedor:hover p.texto{
	padding-top:30px;
	opacity: 1;
}
div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
	/*MENU*/
section{
	position:relative;
	top:-30%;
}
section h2{
	margin:20px 10%;
	width:900px;
	background:url(Imagenes/fondoh2.jpg);
	font-size:45px;
	font-weight:bold;
	padding:1px 300px;
	border: 10px groove #353535;
	height:60px;
	color:000;
	position:relative;
	right:35%;
}
section p{
	width:100%;
	color:;
	font-family:arial;
	line-height:30px;
	text-shadow:1px 1px 1px #C0C0C0;
}
section article{
	color:#000;
}
div.fila1 img{
	width:28%;
	margin-left:23px;
	display:inline;
	padding:auto;
	border:5px solid #000;
}
div.fila2 img{
	width:28%;
	margin-left:23px;
	display:inline;
	padding:auto;
	border:5px solid #000;
}
div.fila3 img{
	width:28%;
	margin-left:23px;
	display:inline;
	padding:auto;
	border:5px solid #000;
}
div.fila4 img{
	width:28%;
	margin-left:23px;
	display:inline;
	padding:auto;
	border:5px solid #000;
}
div.fila5 img{
	width:28%;
	margin-left:23px;
	display:inline;
	padding:auto;
	border:5px solid #000;
}
div.fila6 img{
	width:28%;
	margin-left:23px;
	display:inline;
	padding:auto;
	border:5px solid #000;
}
section article div.C{
	background:;
	margin-top:20px;
}
div.C img{
	margin:101px;
}
div.C a{
	font-size:40px;
	position:relative;
	right:-50px;
	top:-60px;
	text-decoration:none;
	color:#000;
	font-family:verdana;
}
div.C p{
	font-size:30px;
	position:relative;
	right:-32%; top:-115px;
	font-family:arial;
}
footer{
	background-color:#000;
	width:100%;
	height:80px;
}
footer p{
	color:#fff;
	text-align:center;
}
article img.NOSOTROS{
	width:900px;
	padding:auto;
	border:10px groove #353535;
}